

    body{
        background-color: black;
    }
    .title{
        cursor: pointer;
        color: rgb(180, 180, 180);
        text-align: center;
        letter-spacing:5px;
        margin-top: 41px;
        font-family: "Playfair Display", serif;
        transition: 0.4s;
        font-size: 40px;
        font-weight: 1;
    }
    .title:hover{
        color: rgb(231, 109, 9);
    }
    
    .caption{
        color: rgb(187, 187, 187);
        text-align: center;
        font-family: "Lucida Console", "Courier New", monospace;
        letter-spacing: 4px;
        padding-bottom: 5px;
        margin-top: -25px
    }

    .navbar{
        padding-top: 5px;
        
    }

    .navbar ul{
        text-align: center;
        font-family: "Open Sans", sans-serif ;
        padding-bottom: 10px;
    }
    .navbar li{  
        display: inline-block;
        margin-left: 40px;
    }
    .navbar a{
        
        text-decoration: none;
        color: whitesmoke;
        font-size:medium;
        transition: 0.4s;

    }
    .navbar a:hover{
        color: rgb(231, 109, 9);
    }
    .coffee{
        max-width: 100%;
    }
    .para{
        text-align: center;
        color: rgb(187, 187, 187);
        font-size: 22px;
        margin-top: 100px;
        font-family: "Open Sans", sans-serif ;
    }
    .bean{
        padding-left: 160px;       
    }
    .bottom{
        height: 400px;
    }
    .copyright{
        padding-top: 450px;
        color: rgb(187, 187, 187);
        text-align: center;
    } 
    .social{
        margin-top: 0px;
        padding-top: 0px;
        position: relative;
        top: 250px;
        height: 40px;   
    }
    .link{
        text-decoration: none;
        color: rgb(133, 133, 133);
        transition: 0.4s;
    }  
    .link :hover{
        color: rgb(231, 109, 9);
    }
    .fbicon{
        height: 40px;
        border-radius: 20px;
        margin-left: 450px;
        cursor: pointer;
    }
    .instaicon{
        height: 40px;
        margin-left: 80px;
        border-radius: 20px;
        cursor: pointer;
    }
    .linicon{
        height: 40px;
        margin-left: 80px;
        border-radius: 20px;
        cursor: pointer;
    }
    .yticon{
        height: 40px;
        margin-left: 80px;
        border-radius: 20px;
        cursor: pointer;
    }